*.exe
bin/Debug/**
bin/Debug/Sounds/**
bin/Release/**
bin/Release/Sounds/**
obj/**
battleships_icon.ico
*.7z
StyleCop*.*
Help/**
Help/Working/**
Help/Working/obj/**
Help/Working/Output/**
Help/Working/xmlComp/**
Battleships Pirate Edition.shfbproj
*.sdps